<div class="container">
  <div class="row">
    <div class="col text-center">
      <!-- agar dapat menggunakan gambar gunakan middleware yang namanya -->
      <!-- express.static -->
      <img
        src="img/logo-stikom-.png"
        alt="gambar"
        class="img-thumbnail rounded-circle"
        width="200px"
      />
      <h1 class="display-4">Tomi saputra</h1>
      <p class="lead">Guru | konten</p>
    </div>
  </div>
</div>
